/**
 * NOTE: The 1px here is due to some weird issues with modal-sizing, which causes the table if it inside a modal to lose
 * its left border so we give it a padding of 1px, not optimal, but the modal applies a weird mix of positioning,
 * transforms and display-modes to its containers, if this gets ever refactored try to remove it
 */
.tableContainer {
  padding: 0 var(--spacing-m) 0 1px;
  position: relative;
}

.footer {
  border-left: 1px solid var(--color-neutral);
  border-right: 1px solid var(--color-neutral);
  border-bottom: 1px solid var(--color-neutral);
  padding: var(--spacing-m);
  margin: 0;
  background-color: var(--color-surface);
}

.actionContainer {
  margin-top: var(--spacing-xs);
}
